.add-vacations-section {
    background-image: linear-gradient(rgba(80, 79, 79, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/add-vacation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}